<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/orders.css}">
</head>
<body>
<header th:insert="fragments/header :: navigationBar"></header>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <div th:class="h1">Your orders</div>
            <span id="pageWithoutOrders" th:if="${#authentication.getPrincipal().getUser().getOrders().isEmpty()}">
            You dont have any orders yet.Go to our <a th:href="@{/phones}">catalog</a> to find a phone for you</span>

            <table class="table mt-3 table-borderless" id="purchaseTable">
                <tbody>

                    <tr th:each="order : ${orders}">
                        <td>
                            <div class="card">
                                <div class="card-body">
                                    <a class="card-title" href="#" th:text="'Order №'+${orders.indexOf(order)+1}"></a>
                                    <p class="card-text" th:text="'Data: ' + ${order.getCreationDate()} +' Elements: '+${order.stringForOrder()} "></p>
                                    <a href="#" class="btn btn-primary">Cancel this order</a>
                                    <a href="#" class="btn btn-success">Status</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>