<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">

</head>
<body>
<header th:insert="fragments/header :: navigationBar"></header>

<div class="container">
    <div class="row row-cols-auto" id="idRow">
        <div class="col" id="headerProfile">
            <img th:if="${#authentication.getPrincipal().getUser().getAvatar()==null}"
                 th:src="@{/img/unknownUser.jpg}" class="float-start"
                 alt="profileImg" id="profileUnknown" width="200" height="200">
            <img th:unless="${#authentication.getPrincipal().getUser().getAvatar()==null}"
                 th:src="'data:image/png;base64,'+${imgUtil.getAvatarData(#authentication.getPrincipal().getUser().getAvatar())}"
                 class=" float-start" alt="profileImg" id="profileWithAvatar" width="200" height="200">
            <span th:text="${#authentication.getName()}" id="profileUserName">  </span>
        </div>
    </div>
    <div class="row row-cols-auto" id="avatarRow">
        <div class="col">
            <form id="updateImage" class="inline" th:method="PUT"
                  th:action="@{/profile/{id}(id=${#authentication.getPrincipal().getUser().getId()})}"
                  enctype="multipart/form-data">
                <input type="file" name="file" id="updateAvatarInput" placeholder="Image" class="inline">
                <label for="updateAvatarInput"> Choose a file</label>
                <span class="inline" id="creationDateProfile"
                      th:text="'MobileShop ID:'+${#authentication.getPrincipal().getUser().getId()} +' &#8729 from ' +
${#dates.format(#authentication.getPrincipal().getUser().getRegistrationDate(),'dd MMMM yyyy')}"></span>
                <br/>
                <span id="chosenFile">
                        <strong>Chosen file:</strong>
                        <span id="fileName">None</span>
                    </span>
                <button type="submit" class="btn btn-sm btn-outline-dark" id="submitForAvatar">Submit</button>

            </form>

        </div>
    </div>
    <div class="row " id="bottomRow">
        <div class="col-5">
            <h2 id="personalData">Personal data: </h2>
            <div class="table-responsive">
                <table class="table table-light table-borderless mt-1 " id="tableProfile">
                    <tbody>
                    <tr class="bg-light">
                        <td class="inf">Nickname:</td>
                        <td class="descriptionProfile" th:text="${#authentication.name}">name</td>
                    </tr>
                    <tr class="bg-light">
                        <td class="inf">Email:</td>
                        <td class="descriptionProfile" th:text="${#authentication.getPrincipal().getUser().getEmail()}">
                            name
                        </td>
                    </tr>
                    <tr class="bg-light">
                        <td class="inf">FirstName:</td>
                        <td class="descriptionProfile"
                            th:text="${#authentication.getPrincipal().getUser().getFirstName()}">name
                        </td>
                    </tr>
                    <tr class="bg-light">
                        <td class="inf">LastName:</td>
                        <td class="descriptionProfile"
                            th:text="${#authentication.getPrincipal().getUser().getLastName()}">name
                        </td>
                    </tr>
                    <tr class="bg-light">
                        <td class="inf">Address:</td>
                        <td class="descriptionProfile"
                            th:text="${#authentication.getPrincipal().getUser().getAddress()}">Address
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-1" id="editColumn">
            <a th:href="@{/profile/{id}/edit(id=${#authentication.getPrincipal().getUser().getId()})} " id="editHref">Edit</a>
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
<script>
    let inputFile = document.getElementById('updateAvatarInput')
    let fileNameField = document.getElementById('fileName')
    inputFile.addEventListener('change', function (event) {
        fileNameField.textContent = event.target.files[0].name;

    })
</script>

</body>
</html>