<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en"
>

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/purchasesList.css}">
</head>
<body>
<header th:insert="header.html :: navigationBar"></header>
<div class="container" style="margin-top: 62px">
    <div class="row justify-content-md-center">
        <div class="col">
            <div th:class="h1">Purchase list</div>
            <span id="phoneSum" style="opacity: .8"></span>
            <img class="rounded mx-auto d-block"
                 th:if="${#authentication.getPrincipal().getUser().getPhones().isEmpty()}"
                 th:src="@{/img/emptyList.png}" alt="EmptyList"/>

            <table class="table mt-3" id="purchaseTable"
                   th:unless="${#authentication.getPrincipal().getUser().getPhones().isEmpty()}">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="phone : ${purchaseList}" id="purchaseDiv">
                    <tr>

                        <td th:class="name_column" th:text="${phone.getKey()}"
                            id="nameColumn">name
                        </td>

                        <th:block th:each="phone2 : ${phone.getValue()}">
                            <td th:class="image"><img th:src="@{${phone2.getKey().getImg()}}" th:width="90"
                                                      th:height="90" th:alt="Image"/></td>
                        </th:block>

                        <td id="actionWithPurchases">
                            <th:block th:each="phone2 : ${phone.getValue()}">
                                <form th:action="@{/profile/{id}(id=id=${phone2.getKey().getId()})}"
                                      th:name="removeFromPurchase" id="minusFormButton" th:method="DELETE">
                                    <button th:if="${phone2.getValue()==1}"
                                            type="button" class="btn btn-secondary btn-sm disabled" id="minusButtonDisabled">-
                                    </button>
                                    <button th:unless="${phone2.getValue()==1}"
                                            type="button" class="btn btn-secondary btn-sm " id="minusButton">-
                                    </button>
                                </form>
                            </th:block>
                            <th:block th:each="phone2 : ${phone.getValue()}">
                                <span id="amountOfPurchases" th:text="${phone2.getValue()}"></span>
                            </th:block>
                            <form action="#"
                                  th:name="removeFromPurchase" id="plusFormButton">
                                <button type="button" class="btn btn-secondary btn-sm" id="plusButton">+</button>
                            </form>

                        </td>
                        <th:block th:each="phone2 : ${phone.getValue()}">
                            <td th:class="price_column" th:text="${phone2.getKey().getPrice()+'$'}"
                                id="priceColumn">price
                            </td>
                        </th:block>


                        <td>
                            <th:block th:each="phone2:${phone.getValue()}">
                                <form th:action="@{/profile/{id}(id=${phone2.getKey().getId()})}" th:method="DELETE"
                                      th:name="removeFromPurchase">
                                    <input type="image" th:src="@{/img/garbageIcon.png}" alt="garbageIcon"
                                           width="30" height="30"/>
                                </form>
                            </th:block>

                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:insert="footer.html :: footer"></footer>
</div>
<script th:src="@{/js/purchaseSum.js}"></script>
</body>
</html>