<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en"
>

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<header th:insert="header.html :: navigationBar"></header>
<div class="container" style="margin-top: 62px">
    <div class="row justify-content-md-center">
        <div class="col">
            <div th:class="h1">Purchase list</div>
            <span id="phoneSum" style="opacity: .8"></span>
            <img class="rounded mx-auto d-block"
                 th:if="${#authentication.getPrincipal().getUser().getPhones().isEmpty()}"
                 th:src="@{/img/emptyList.png}" alt="EmptyList"/>

            <table class="table mt-3" id="purchaseTable"
                   th:unless="${#authentication.getPrincipal().getUser().getPhones().isEmpty()}">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="phone : ${purchaseList}" id="purchaseDiv">
                    <tr>
                        <td th:class="name_column" th:text="${phone.getName()}">name</td>
                        <td th:class="image"><img th:src="@{${phone.getImg()}}" th:width="90"
                                                  th:height="90" th:alt="Image"/></td>
                        <td th:class="price_column" th:text="${phone.getPrice()+'$'}">price</td>
                        <td>
                            <form th:action="@{/profile/{id}(id=${phone.getId()})}" th:method="DELETE"
                                  th:name="removeFromPurchase">
                                <input class="btn btn-dark btn-sm" type="submit" name="remove" value="Remove"/>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <img th:src="@{/img/}" class="rounded float-end">
        </div>
    </div>
    <footer th:insert="footer.html :: footer"></footer>
</div>
<script th:src="@{/js/purchaseSum.js}"></script>
</body>
</html>