<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>MobileShop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{../css/registration.css}"/>
</head>

<body>
<div class="container">
    <form th:method="POST" th:action="@{/registration}" th:object="${newUser}" class="form-horizontal" role="form"
          enctype="multipart/form-data">
        <h2>Registration</h2>
        <div class="form-group">
            <label for="userName" class="col-sm-3 control-label">UserName</label>
            <div class="col-sm-9">
                <input type="text" id="userName" placeholder="User Name" class="form-control" autofocus
                       th:field="*{userName}">
                <span style="color: darkred" th:errors="*{userName}"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" id="password" placeholder="Password" class="form-control"
                       th:field="*{password}">
                <span style="color: darkred" th:errors="*{password}"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="email" id="email" placeholder="Email" class="form-control" name="email"
                       th:field="*{email}">
                <span style="color: darkred" th:errors="*{email}"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="img" class="col-sm-3 control-label">Image</label>
            <div class="col-sm-9">
                <input type="file" name="file" id="img" placeholder="Image" class="form-control" >
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
</div>
<script type="text/javascript" th:src="@{../static/js/jquery/jquery-3.6.0.min.js}"></script>
<script th:href="@{../js/registration.js}"></script>
</body>
</html>