<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuccessOrder</title>
</head>
<body>
<header th:insert="fragments/header :: navigationBar"></header>
<div class="container">
  <div class="row justify-content-md-center" >
    <div class="col" style="margin-top: 150px">
      <img class="rounded mx-auto d-block"
           th:src="@{/img/successOrder.png}" alt="SuccessOrder"/>
        <div class="h1" style="text-align: center;margin-top: 100px">Your order was successfully created!</div>
    </div>
  </div>
</div>
<footer  th:insert="fragments/footer :: footer"></footer>
</body>
</html>