.container {
    padding-top: 70px;
    padding-bottom: 56px;
    position: relative;
}

.price_column {
    font-size: 25px;
    font-family: "Britannic Bold", serif;

}


.name_column {
    font-size: 25px;
    font-family: "Britannic Bold", serif;

}

#sortTable {
    vertical-align: middle;
    text-align: center;
}

#nameHeader {
    cursor: pointer;
}

#priceHeader {
    cursor: pointer;
}

#myInput {
    width: 40%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 25px;
    height: 50px;

}