section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel-control-prev .carousel-control-prev-icon {
    background-image: url("../img/left-arrow.svg");
}

.carousel-control-next .carousel-control-next-icon {
    background-image: url("../img/right-arrow-angle.svg");
}

.carousel-control-next, .carousel-control-prev {
    width: 20px;
}

#prev {
    left: -130px;
}

#next {
    right: -130px;
}

