<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
</head>

<body>
<header th:fragment="navigationBar">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">MobileStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" href="/users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phones">Catalog</a>
                    </li>

                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" href="/registration">Sign up</a>
                    </li>
                    <li sec:authorize="hasAuthority('developers:write')" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="/phones/new">Add new phone</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}"
                      id="logoutForm">
                    <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm"
                            type="submit">Logout
                    </button>
                </form>

<!--                <form class="form-inline my-2 my-lg-0" form-method="get" th:action="@{/login}">-->
<!--                    <button sec:authorize="isAnonymous()" th:href="@{~/login}"-->
<!--                            class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Login-->
<!--                    </button>-->
<!--                </form>-->
                <ul class="navbar-nav " id="drop">
                    <li class="nav-item dropdown " sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDr"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false"
                           th:text="${#authentication.getPrincipal().getUsername()}">text </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" th:href="@{/profile}">Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href=#>Your Cart</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</header>
</body>
</html>